body{
    background: rgb(142,0,232);
    background: linear-gradient(180deg,
    rgba(142,0,232,1) 0%,
    rgba(255,0,0,1) 50%,
    rgba(252,176,69,1) 100%);
    color: #fff;
    font-family: Candara;
}


/* Navbar */
.nav-bar {
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    padding-left: 50px;
    padding-right: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #000;
        padding: 10px;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-toggle {
        display: block;
    }
}


/* About */
.about-me p {
    color:#fff200;
    font-size: larger;
    font-weight: 800;
}

.about-me {
    background-color: rgba(0,0,0,0.4);
    border: #fff;
    border-radius: 16px;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    font-family: Candara;
}


/* Expertise */

.skills{
    background-color: rgba(0,0,0,0.4);
    border: #fff;
    border-radius: 16px;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    font-family: Candara;
}

.skills h2{
    color:#fff200;
}
.skills li{
    text-decoration: none;
}
dd{
    padding: 10px;
    padding-bottom: 15px;
    font-style: italic;
    font-weight: 600;
}
dt{
    font-size: larger;
    font-weight:bolder;
    color: #fff200;
}


/* Recent Works */

.projects{
    background-color: rgba(0,0,0,0.4);
    border: #fff;
    border-radius: 16px;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    font-family: Candara;
}
.projects h2{
    color: #ffdd00;
}
.projects p{
    font-style: italic;
    font-size: larger;
    font-weight: 700;
}
ul{
    list-style-type: none;
}
li{
    padding: 5px;
    font-size: large;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color:#ffdd00;
}
/* Responsive video container */
.video-container {
    position: relative;
    width: 100%;
    margin: auto; /* Center the video */
    padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
    overflow: hidden;
    background-color: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}



/* Contact */

.contact{
    background-color: rgba(0,0,0,0.4);
    border: #fff;
    border-radius: 16px;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    font-family: Candara;
}
.contact h2{
    color: #ffdd00;
}
.contact-img {
    display: inline-block;
    padding: 10px;
}
.contact-img img{
    width: 65px;
    height: 65px;
}
